<div class="cookies-div">
    <div class="cookies-close" onclick="pgsoftwebCookiesClose();"><img src="@Url.Content("~/Styles/images/icon-close.png")" /></div>
    <p>
        Tieto stránky využívajú cookies.
        Ich ďalším používaním súhlasíte s využívaním cookies.
        Prečítajte si informácie o tom, ako cookies používame a ako ich používanie môžete odmietnuť
        nastavením svojho internetového prehliadača.
    </p>
    <div class="clearfix">
        <a href="#" onclick="pgsoftwebCookiesOk(); return false;" class="cookies-ok">SÚHLASÍM</a>
        <a href="#" onclick="pgsoftwebCookiesClose(); return false;" class="cookies-cancel">ODMIETNUŤ</a>
    </div>
    <div class="privacy-links">
        <a href="@Url.Content("~/gdpr")" target="_blank">GDPR</a>
        <a href="@Url.Content("~/cookies")" target="_blank">INFORMÁCIE O COOKIES</a>
    </div>
</div>