@inherits UmbracoViewPage
@{
    var home = Model.Root();
}

<ul class="nav navbar-nav navbar-right">
    <li><a href="@home.Url()">@home.Value("menuTitle")</a></li>
    @foreach (var childPage in home.Children)
    {
        if (childPage.IsDocumentType("text"))
        {
            continue;
        }
        if (childPage.IsDocumentType("bannerItem"))
        {
            continue;
        }

        if (childPage.HasValue("umbracoNaviHide") && !(bool)childPage.Value("umbracoNaviHide"))
        {
            <li><a href="@childPage.Url()">@childPage.Value("menuTitle")</a></li>
        }

    }
    <li class="navbar-divider"></li>
    <li><a href="/sk">SK</a></li>
    <li><a href="/en">EN</a></li>
</ul>