@using PeterGlozikUmbracoOsobnaStranka.lib.Models.DashboardBlog
@model CountryPagingListModel

@{
    string urlInsert = Url.Content("~/sk/clenska-sekcia/krajiny/pridat");
    string urlUpdate = Url.Content("~/sk/clenska-sekcia/krajiny/upravit");
    string urlDelete = Url.Content("~/sk/clenska-sekcia/krajiny/odstranit");
}
<h1>KRAJINY</h1>
@{
    var grid = new WebGrid(null, rowsPerPage: Model.ItemsPerPage, defaultSort: "Code");
    grid.Bind(Model.Items, rowCount: Model.TotalItems, autoSortAndPage: false);
    @grid.GetHtml(
                    htmlAttributes: new { @id = "countrieslist" },
                    mode: WebGridPagerModes.All,
                    tableStyle: "webgrid",
                    headerStyle: "",
                    footerStyle: "paging",
                    alternatingRowStyle: "",
                    columns: grid.Columns(
                        grid.Column("", "", format: a =>
                            Html.Raw(
                            "<span class='tools'>" +
                            "<a href='" + string.Format("{0}?id={1}", urlUpdate, a.pk.ToString()) + "' title='Upraviť krajinu' class='nowrap'><i class='fa fa-edit'></i></a>"
                            + "&#160;&#160;" +
                            "<a href='" + string.Format("{0}?id={1}", urlDelete, a.pk.ToString()) + "' title='Odstrániť krajinu' class='nowrap'><i class='fa fa-trash'></i></a>"
                            + "</span>")),
                        grid.Column("Code", "Kód", canSort: true),
                        grid.Column("Name", "Názov", canSort: true)
             ));

    <script type="text/javascript">
        $(function () {
            $('#countrieslist thead tr th:first').html(
                "<a href='@urlInsert' class='btn btn-default' title='Pridať krajinu'>Pridať</a>"
                );
        });
    </script>

}
