.navbar-default {
    border: none;
    background: #276271;
}
.navbar-default .navbar-nav .navbar-divider {
    height: 36px;
    width: 1px;
    margin: 8px 10px;
    overflow: hidden;
    background-color: #ffffff87;
}

.navbar-default .navbar-header img {
    max-height: 54px;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    padding: 5px 10px;
    margin-top: 10px;
    text-shadow: none;
    font-size: 14px;
}


.navbar-default .navbar-nav>li>a:hover {
    background-color: #fffa004c;
    color: #fff;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
    line-height: 1.5;
    margin-top: 10px;
}

@media(max-width: 765px) {
    .navbar-default .navbar-nav > li > a {
        color: #fff;
        width: 200px;
        margin: auto 5px;
        font-size: 14px;
    }
}

@media(max-width: 765px) {
    .navbar-default .navbar-nav > li > a:hover {
        background-color: #fffa004c;
        color: #fff;
        width: 200px;
        margin: auto 5px;
        font-size: 14px;
        border-radius: 5px;
        line-height: 1.5;
    }
}

.navbar {
  margin-bottom: 0;
}

.navbar-toggle {
  background-color: transparent;
  border: 1px solid #ddd;
  padding: 2px 12px;
  font-size: 23px;
}

.navbar-toggle .icon-bar {
  background-color: #888;
  display: block;
  height: 2px;
  width: 22px;
}

.display-radius {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 60%;
}

.img-peter1 img {
    max-width: 100%;
    border-radius: 60%;
}

.page-body {
    padding-top: 150px;
    background: url('../images/foto6.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 120px;
    margin-bottom: -20px;
}

.contact-items .glyphicon {
    padding-right: 10px;
    color: #766969;
}

.tlacitko {
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    color: #000;
}

.tlacitko:hover {
    color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #0b7abe;
    text-decoration: auto;
}

label {
    max-width: 100%;
    margin-top: 12px;
    margin-bottom: 0px;
    font-weight: 700;
}

.validation-summary-errors {
    color: red;
}
.validation-summary-errors ul, .validation-summary-errors ul li {
    list-style: none;
    padding: 0;
}

.field-validation-error {
    color: red;
}

.api-password-group {
    display: none;
}


.photo-slider {
    padding: 20px 20px 50px 20px;
}

@media(max-width: 768px) {
    .photo-slider {
        padding: 20px 10px 50px 10px;
    }
}

.photo-slider .photo-slider-toolbar {
    position: relative;
    height: 50px;
}

.photo-slider .photo-slider-toolbar .photo-slider-count {
    padding-left: 15px;
    color: #000000;
    font-weight: bold;
    font-size: 14px;
}

.photo-slider .photo-slider-toolbar .photo-slider-close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #000000;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.photo-slider .lightSlider {
    text-align: center;
}

.photo-slider .lightSlider img.img-ls-responsive {
    margin: auto;
    max-height: 70vh;
    max-width: 100%;
}

.photo-slider-link {
    cursor: pointer;
}

.slider-wrapper {
    display: none;
}

.slider-wrapper-template {
    display: none;
}

.slider-wrapper .slider-content .photo-slider {
    padding-top: 0;
}

.lSAction > .lSNext {
    right: -5px;
}

.lSAction > .lSPrev {
    left: -5px;
}


.photo-slider {
    padding: 20px 0px 50px 0px;
}

.gallery-list .gallery-folder {
    margin-bottom: 50px;
}

.gallery-list .gallery-img {
    padding: 10px 0;
}

.gallery-list .photo-gallery-item {
    position: relative;
}

.gallery-list .photo-gallery-item img {
    width: 100%;
}

.gallery-list .photo-gallery-item .photo-gallery-item-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(120, 120, 120, 0.5);
    display: none;
    top: 0;
    left: 0;
    text-align: center;
}

.gallery-list .photo-gallery-item:hover .photo-gallery-item-hover {
    display: block;
    cursor: pointer;
}

.gallery-list .photo-gallery-item .photo-gallery-item-hover i {
    color: #FFFFFF;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: block;
}

.course-video {
    margin: 0 20px 50px 20px;
}

.course-video-container {
    position: relative;
    width: 60%;
    padding-bottom: 26.25%;
    height: 30%;
}

.course-video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
}

.course-video-container video {
        position: relative;
        top: 150px;
        left: 0;
        width: 100%;
        height: 100%;
}

.scrollToTop{
	padding:10px; 
    width: 50px;
    height: 50px;
	text-align:center; 
	background: #8d8d8d99;
	font-weight: bold;
	color: #8d8d8da8;
	text-decoration: none;
	position:fixed;
	bottom:80px;
	right: 10px;
	display:none;
    border-radius: 30px;
}
.scrollToTop:hover {
    background: #000;
    color: #009950cc;
    border-radius: 30px;
}

.footer {
    text-align: center;
    padding: 25px 10px;
    background-color: #276271;
    color: white;
    margin-top: 20px;
}
.footer .copyright a {
    text-align: center;
    text-decoration: none;
    color: white;
    font-size:15px;
}
.footer .copyright a:hover {
    color: yellow;
    font-size:15px;
}
.footer .footer-text-section p a {
    text-decoration: none;
    color: white;
}
.footer .footer-text-section p a:hover {
    text-decoration: none;
    color: yellow;
    font-size:15px;
}

.footer .socials a {
    font-size: 24px;
    margin: 5px;
}

.footer .socials a:hover {
    font-size: 24px;
}


.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #bababa;
}


::marker {
    content: none; /* Odstrániť obsah značky (bodku) */
}
.text-right {
    margin-top: -20px;
}

.osobnastranka-form {
    width: 365px;
}
.form-section {
    margin-top: 20px;
}
.register-form{
    width: 320px;
}

/* Cookies */

.cookies-div {
    position: fixed;
    bottom: 0;
    left: 40px;
    width: 50%;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    z-index: 100;
}

.cookies-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.cookies-close img {
  width: 15px;
  height: 15px;
}

.cookies-ok,
.cookies-cancel {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #4caf50;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
}

.cookies-cancel {
    background-color: #f44336;
}

.privacy-links a {
    margin-right: 10px;
    color: #333;
    text-decoration: none;
}

.privacy-links a:hover {
    text-decoration: underline;
}

.cookies-div {
    display: none;
}

.protected-menubar {
  background-color: #f5f5f5;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.menu {
  margin-top: 10px;
}

.admin-menu,
.customer-menu {
  list-style: none;
  padding: 0;
}

.admin-menu li,
.customer-menu li {
  margin-bottom: 5px;
}

.admin-menu a,
.customer-menu a {
  color: #000;
  text-decoration: none;
}

.admin-menu a:hover,
.customer-menu a:hover {
  color: #d60000;
  background-color: #f5f5f5;
}

.separator {
  margin: 10px 0;
  border-top: 1px solid #ddd;
}

.logout-btn {
  text-align: right;
  margin-top: 10px;
}

.hidden {
  display: none;
}

.btn.btn-primary {
    color: #fff;
    background-color: #e47e07;
    border-color: #e47e07;
    text-shadow: none;
    border-radius: 30px;
}

.btn.btn-primary:hover {
    background-color: #099711eb;
    border-color: #099711eb;
}

.register {
    margin-top: 38px;
}


/* Blog List Styles */
#bloglist {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#bloglist th, #bloglist td {
    border: 3px solid #a2950066;
    padding: 10px;
}

#bloglist th a {
    color: #000;
    text-decoration: none;
}

.webgrid {
    width: 100%;
}

@media screen and (max-width: 590px) {
    .webgrid {
        width: 100%;
        overflow-x: auto;
    }

    #bloglist {
        display: block;
        width: 100%;
    }

    #bloglist th, #bloglist td {
        display: block;
        width: 100%;
        box-sizing: border-box;
    }
}

/* Button Styles */
.btn {
    display: inline-block;
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    text-align: center;
}

.btn:hover {
    background-color: #2980b9;
}


/* Form Styles */
.osobnastranka-form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.form-item {
    margin-bottom: 15px;
}

.form-item-hidden {
    display: none; /* Hide these fields */
}

.validation-message {
    color: red;
    font-size: 0.9em;
}

/* Responsive Design */
@media (max-width: 768px) {
    .row {
        flex-direction: column;
    }
    .col-md-6 {
        width: 100%;
    }
}

.fa-trash:before {
    content: "\f1f8";
    color: red;
    font-size: 20px;
}

.fa-edit:before {
    content: "\f044";
    color: green;
    font-size: 20px;
}

.fa-camera:before {
    content: "\f030";
    color: green;
    font-size: 20px;
}

.img-thumbnail {
    transition: transform 0.3s ease, filter 0.3s ease;
}
    
.img-thumbnail:hover {
    transform: scale(1.05);
}

/* Štýly pre chatbota */
#chatbot {
    width: 225px;
    height: 245px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #4b459d;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    bottom: 20px;
    right: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border-radius: 10px;
}

#chatlog {
    height: 250px;
    overflow-y: auto;
    padding: 5px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    flex-grow: 1;
    background-color: #ffffff;
}

    #chatlog div {
        margin: 5px 0;
    }

#userInput {
    width: calc(100% - 70px);
    padding: 5px;
}

#sendButton {
    width: 60px;
    padding: 4px;
    cursor: pointer;
}

.userMessage {
    text-align: right;
    background-color: #e0ffe0;
    padding: 5px;
    border-radius: 5px;
}

.botMessage {
    text-align: left;
    background-color: #e0e0ff;
    padding: 5px;
    border-radius: 5px;
}

#closeButton {
    position: absolute;
    top: 0px;
    right: -2px;
    cursor: pointer;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    text-align: center;
    font-size: 10px;
    line-height: 18px;
}

#openButton {
    position: fixed;
    bottom: 20px;
    right: 10px;
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    display: none;
}