@inherits Umbraco.Web.Macros.PartialViewMacroPage

<h1>Môj Blog</h1>

<main>
    <article>
        <h2>Ako ma kurz v tvorbe webových stránok inšpiroval</h2>
        <p class="metadata">Autor: Peter Glózik</p>
        
        <p>
            Ahoj priatelia!
        </p>
        <p>
            Chcel by som sa s vami podeliť o to, ako ma nedávny kurz v tvorbe webových stránok inšpiroval a premenil moje vnímanie digitálneho sveta. Tento intenzívny kurz mi poskytol možnosť objaviť nové nástroje a technológie, ktoré mi umožňujú vytvárať kreatívne a interaktívne webové stránky.
        </p>
        <p>
            Počas kurzu som si uvedomil, aký dôležitý je dobrý dizajn a užívateľská skúsenosť. Snažím sa preniesť túto filozofiu do každého projektu, na ktorom pracujem. Každý detail, farba a rozloženie prispievajú k celkovému dojmu a efektívnosti stránky.
        </p>
        <p>
            Mojou vášňou je vytvárať webové stránky, ktoré nie len že sú vizuálne atraktívne, ale aj plne funkčné a responzívne. Svoje znalosti v oblasti HTML, CSS, JavaScript a Bootstrap som začal kombinovať, aby som vytvoril dynamické a interaktívne prvky, ktoré zlepšujú užívateľský zážitok.
        </p>
        <p>
            Chcel by som vám ponúknuť moje služby v tvorbe webových stránok, aby ste aj vy mohli mať profesionálnu a efektívnu online prítomnosť. Budem sa vám venovať individuálne, porozumieť vašim cieľom a vypracovať web, ktorý bude vystihovať vašu identitu a priláka návštevníkov.
        </p>
        <p>
            Ak máte aké koľvek otázky alebo by ste sa chceli poradiť ohľadom vášho projektu, neváhajte ma kontaktovať. Som presvedčený, že spoločne môžeme vytvoriť niečo veľkolepé.
        </p>
    </article>

    <article>
        <h2>Tvorba responzívnych webových stránok</h2>
        <p class="metadata">Autor: Peter Glózik</p>
        
        <p>
            V dnešnej dobe je dôležité mať webovú stránku, ktorá je prispôsobená rôznym zariadeniam, ako sú počítače, tablety a mobilné telefóny. Responzivný dizajn sa stal štandardom a je kľúčom k tomu, aby vaša stránka vynikla a poskytovala skvelý zážitok užívateľom bez ohľadu na to, aké zariadenie používajú.
        </p>
        <p>
            Po absolvovaní kurzu v tvorbe webových stránok som získal znalosti a skúsenosti v tvorbe responzívnych webových stránok pomocou technológií ako je Bootstrap. Tieto nástroje mi umožňujú vytvárať flexibilné a prispôsobiteľné stránky, ktoré sa automaticky prispôsobujú veľkosti obrazovky a poskytujú optimálny zážitok pre užívateľov.
        </p>
        <p>
            Ak hľadáte profesionálne vytvorenú webovú stránku, ktorá bude pôsobiť dojmom aj na mobilných zariadeniach, rád vám ju vytvorím. Vaša stránka bude mať moderný vzhľad a bude sa správne zobrazovať a fungovať na rôznych platformách.
        </p>
        <p>
            S responzívnym dizajnom môžete získať konkurenčnú výhodu a poskytnúť návštevníkom skvelý užívateľský zážitok bez ohľadu na to, kde sa nachádzajú. Nechajte ma pomôcť vám s tvorbou webovej stránky, ktorá vynikne a bude úspešná na všetkých zariadeniach.
        </p>
    </article>
</main>